.cover{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    max-width: 1184px;
    min-height: 740px;
    margin: 12px auto 0 auto;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width:1024px){
    .cover{
    max-width: 1024px;
    min-height: 640px;
    }
}

@media screen and (max-width:768px){
    .cover{
    max-width: 768px;
    min-height: 480px;
    margin: 18px auto 0 auto;
    }
}

@media screen and (max-width:320px){
    .cover{
    max-width: 320px;
    min-height: 200px;
    margin: calc(66px - 49px) auto 0 auto;
    }
}