.cover__title{
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
/* or 106% */
text-align: center;
color: #FFFFFF;
margin: 245px auto 0 auto;
max-width: 560px;
z-index: 2;
}

@media screen and (max-width:1024px){
    .cover__title{
        margin: 195px auto 0 auto;
    }
}

@media screen and (max-width:768px){
    .cover__title{
        margin: 115px auto 0 auto;
    }
}

@media screen and (max-width:320px){
    .cover__title{
        margin: 33px auto 0 auto;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
    }
}