.header__lang-links{
    margin: auto 0 6px 0;
    list-style-type: none;
    padding:0;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:320px){
    .header__lang-links{
        margin: auto 0 8px 0;
    }

}